@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = null;
}


<div class="modal fade" data-backdrop="static" id="role-create" tabindex="-1" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success ">
                <h1 class="modal-title text-white">
                    <i class="flaticon-user-settings icon-2x text-white"></i>
                    Password <small class="text-white">Change</small>
                </h1>
                <button type="button" class="close text-white" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form asp-area="" asp-controller="Auth" asp-action="ChangePassword"
                      method="post" autocomplete="off" id="FrmChangePassword">
                    @Html.AntiForgeryToken()

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input type="hidden" asp-for="UserId" />
                    <div class="container">
                        <div class="row ">
                            <div class="col-lg-12 form-group">
                                <label class="col-form-label font-weight-bold" asp-for="CurrentPassword">Current Password <i class="fa fa-star text-danger" style="font-size: 8pt;"></i></label>
                                <input type="password" class="form-control" asp-for="CurrentPassword" />
                                <span asp-validation-for="CurrentPassword" class="text-danger small text-uppercase"></span>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-lg-12 form-group">
                                <label class="col-form-label font-weight-bold" asp-for="NewPassword">New Password <i class="fa fa-star text-danger" style="font-size: 8pt;"></i></label>
                                <input type="password" class="form-control" asp-for="NewPassword" />
                                <span asp-validation-for="NewPassword" class="text-danger small text-uppercase"></span>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-lg-12 form-group">
                                <label class="col-form-label font-weight-bold" asp-for="ConfirmPassword">Confirm Password <i class="fa fa-star text-danger" style="font-size: 8pt;"></i></label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger small text-uppercase"></span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" data-save="modal-change-password" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $.validator.unobtrusive.parse('#FrmChangePassword');
</script>
<script>
    $(function () {

    });
</script>