@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<!--begin::Login forgot password form-->
<div class="login-forgot">
    <div class="mb-20">
        <h3>Forgotten Password ?</h3>
        <div class="text-muted font-weight-bold">Enter your email to reset your password</div>
    </div>
    <form class="form" id="kt_login_forgot_form" autocomplete="off"
          asp-area="" asp-controller="Auth" asp-action="ForgetPassword" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(excludePropertyErrors: true, "", new { @class = "text-danger" })
        <div class="form-group mb-10">
            <input class="form-control form-control-solid h-auto py-4 px-8" type="text" placeholder="Email" asp-for="Email" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger small float-left pt-1 pb-4"></span>
        </div>
        <div class="form-group d-flex flex-wrap flex-center mt-10">
            <button id="kt_login_forgot_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Request</button>
            <a href="/Auth/Login" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</a>
        </div>
    </form>
</div>
<!--end::Login forgot password form-->

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            function _showForm(form) {
                var _login = $('#kt_login');

                var cls = 'login-' + form + '-on';
                var form = 'kt_login_' + form + '_form';

                _login.removeClass('login-forgot-on');
                _login.removeClass('login-signin-on');
                _login.removeClass('login-signup-on');

                _login.addClass(cls);

                _login.addClass(cls);

                KTUtil.animateClass(KTUtil.getById(form), 'animate__animated animate__backInUp');
            }

            _showForm('forgot');
        });
    </script>


}